{% load static %}
<div class="small-container single-product">
    <div class="row">
        <!-- Image Section -->
        <div class="col-2">
            <img src="{{ product.image.url }}" width="100%" id="product-img">
        </div>

        <!-- Product Text Section -->
        <div class="col-2">
            <p>a practice test designed to familiarize individuals with the format, structure, and question types of an actual exam</p>
            <h1>{{product.title}}</h1>
            <h4>${{product.price}}</h4>

            <!-- Size Dropdown -->
            <select>
                <option>Select Size</option>
                <option>XXL</option>
                <option>XL</option>
                <option>Large</option>
                <option>Medium</option>
                <option>Small</option>
            </select>

            <!-- Quantity Input -->
            <input type="number" value="1">

            <!-- Add to Cart Button -->
            <a href="#" class="btn">Add To Cart</a>

            <!-- Product Description -->
            <h3>Product Details <i class="fa fa-indent" aria-hidden="true"></i></h3>
            <br>
            <p>
                A test case is a specific set of conditions or variables under which a tester determines whether a system, software application, 
                or one of its features is working as intended.
            </p>
        </div>
    </div>
</div>
